/*Universal*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: hsl(230, 5%, 40%);
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: hsl(230, 5%, 40%);
}

.mobile {
    display: none;
}

/*Mobile Universal*/
@media only screen and (max-width: 680px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: inline;
    }
}

/*Text*/
h1 {
    font-size: 2.6rem;
    font-weight: 500;
    color: hsl(230, 5%, 28%);
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: hsl(230, 5%, 32%);
}

section {
    padding: 2rem 1.5rem;
    display: inline-flex;
    width: 100%;
    /*!*debugging start*!*/
    /*border: 1px solid green;*/
    /*!*debugging end*!*/
}

/*Mobile section*/
@media only screen and (max-width: 680px) {
    section {
        padding: 0;
        border-bottom: 1px solid hsl(230, 5%, 80%);
    }

    section h1 {
        padding-top: 2rem;
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*!*debugging start*!*/
    /*border: 1px solid rebeccapurple;*/
    /*!*debugging end*!*/
}

/*Image*/
.img-container {
    width: 100%;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*Screen blocks*/
.sixty {
    width: 60%;
    /*!*debugging start*!*/
    /*border: 2px solid red;*/
    /*!*debugging end*!*/
}

.forty {
    width: 40%;
    margin-left: 1.5rem;
    /*!*debugging start*!*/
    /*border: 2px solid blue;*/
    /*!*debugging end*!*/
}

.forty img {
    padding: 1rem;
}

/*Mobile screen blocks*/
@media only screen and (max-width: 680px) {
    .sixty {
        width: 100%;
    }

    .forty {
        width: 100%;
        margin: 0;
    }
}

/*Blocks*/
.block {
    display: flex;
    /*!*debugging start*!*/
    /*border: 2px solid saddlebrown;*/
    /*!*debugging end*!*/
}

.block .img-container {
    width: 35%;
}

.block .text-container {
    width: 65%;
}

/*Header*/
header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

#header-container {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
    /*!*debugging start*!*/
    /*border: 2px solid yellowgreen;*/
    /*!*debugging end*!*/
}

#header-logo-title {
    display: flex;
    align-items: center;
}

header nav a {
    margin-right: 1rem;
}

header nav a:last-child {
    margin-right: 0;
}

#header-title {
    display: flex;
    align-items: center;
}

.header-img {
    width: 2.6rem;
}

#header-logo-title span {
    font-size: 1.2rem;
    font-weight: 300;
}

#header-logo-title span:first-child {
    color: hsl(230, 5%, 35%);
}

#header-logo-title span:last-child {
    color: hsl(230, 5%, 85%);
}

/*Mobile header*/
@media only screen and (max-width: 680px) {
    header {
        height: 64px;
    }

    #header-container {
        margin: 0;
    }

    #header-logo-title {
        display: none;
    }

    header nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .header-img {
        width: 2rem;
    }
}

/*Main*/
main {
    margin-top: 4rem;
}

#banner {
    background-color: hsl(230, 5%, 80%);
}

#banner .text-container {
    padding-right: 6rem;
    flex-shrink: 2;
}

#banner h2 {
    padding: 1.5rem 0;
}

#banner button {
    background-color: hsl(230, 5%, 28%);
    border: 1px solid hsl(230, 5%, 28%);
    padding: .7rem 0;
    width: 100%;
    color: white;
    font-size: 1rem;
}

/*Mobile banner*/
@media only screen and (max-width: 680px) {
    #banner {
        flex-direction: column;
    }

    #banner .text-container {
        padding: 1rem 1rem 3rem 1rem;
        margin: 0;
    }

    #banner button {
        background-color: hsl(230, 5%, 55%);
        border: 1px solid hsl(230, 5%, 55%);
        font-weight: 600;
    }
}

/*On campus section*/
#on-campus {
    background-color: hsl(230, 5%, 95%);
}

#on-campus h1 {
    font-size: 1.8rem;
    padding: 2rem 0;
}

#on-campus span {
    display: block;
    padding: 1.8rem 0;
    font-size: .9rem;
}

#on-campus .block p {
    margin-top: .5rem;
}

#on-campus .block:last-child {
    background-color: hsl(230, 5%, 80%);
}

/*Mobile on-campus*/
@media only screen and (max-width: 680px) {
    #on-campus .block {
        flex-direction: column;
        width: 100%;
    }

    #on-campus .block:last-child {
        background-color: hsl(230, 5%, 95%);
    }

    #on-campus img.mobile {
        display: block;
        margin: auto;
        height: auto;
        max-height: 100%;
        width: auto;
        max-width: 100%;
    }

    .blocks-container {
        width: 100%;
        align-items: center;
    }

    #on-campus .block {
        padding: 0;
    }

    #on-campus .img-container {
        width: 100%;
        margin: 0;
        /*!*debugging start*!*/
        /*border: 2px solid saddlebrown;*/
        /*!*debugging end*!*/
    }

    #on-campus .text-container {
        width: 100%;
        padding: 2rem;
    }

    #on-campus a,
    #on-campus a:visited {
        color: blue;
    }
}

/*Online*/
#online {
    display: flex;
    flex-direction: column;
    background-color: hsl(230, 5%, 87%);
}

#online h1 {
    text-align: center;
}

#online .blocks-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: .5rem;
    justify-content: center;
    padding: 0 3.5rem;
}

#online .block {
    margin: 2rem;
    display: block;
    background-color: white;
}

#online .block .img-container {
    width: 100%;
}

#online .block .text-container {
    width: 100%;
    padding: 1.5rem;
}

#online h3 {
    margin: .5rem 0;
}

/*Mobile blocks*/
@media only screen and (max-width: 680px) {
    #online {
        background-color: hsl(230, 5%, 95%);
    }

    #online-course-list {
        margin: 2rem 1rem 3rem 1rem;
    }

    #online-course-list h2 {
        padding: 1.5rem;
        margin-top: .5rem;
        background-color: hsl(230, 5%, 87%)
    }
}

/*For companies*/
#for-companies {
    flex-direction: column;
    background-color: hsl(230, 5%, 95%);
}

#for-companies .section-header {
    padding-bottom: 2rem;
    text-align: center;
}

#for-companies .sixty-forty {
    display: flex;
}

#for-companies h2 {
    margin-top: 1.5rem;
}

#for-companies p {
    margin-top: .5rem;
}

#for-companies .block:first-child {
    background-color: hsl(230, 5%, 80%);
}

/*Mobile for-companies*/
@media only screen and (max-width: 680px) {
    #for-companies .text-container {
        display: none;
    }
}

/*Footer*/
footer {
    border-top: 1px solid gray;
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 3rem 1.5rem;
    background-color: hsl(230, 5%, 95%);
}

footer a:first-child {
    padding-right: 1rem;
}

/*Mobile footer*/
@media only screen and (max-width: 680px) {
    footer {
        justify-content: center;
        padding: 2.5rem 1rem 1.5rem 1rem;
    }
}