/*Universal*/
.flex-screen {
    width: 100vw;
    display: flex;
}

.flex-content {
    width: 90%;
    max-width: 960px;
    display: flex;
}

html {
    font-size: 18px;
    font-family: Helvetica;
    color: white;
}

/*Header top bar*/
#header-top-bar {
    background-color: black;
/*    padding: .66rem 0rem .66rem 0.5rem;*/
    justify-content: center;
}

/*Header top bar container*/
#header-top-bar-container {
    padding: .66rem 0.5rem;
    justify-content: flex-start;
}

/*Logo*/
#header-top-bar-container img {
    height: 1.5rem;
    margin: auto 1rem auto .5rem;
}

/*Header banner*/
#banner {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
    height: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#banner-text-container {
    justify-content: flex-start;
}

/*Header banner text*/
#banner-textbox {
    background-color: black;
    font-weight: bold;
    width: 20rem;
    margin-top: 9rem;
    margin-bottom: auto;
    padding: 2rem 3rem;
}

#banner-textbox h2 {
    font-size: 1rem;
    padding-bottom: .25rem; 
}

#banner-textbox p {
    font-size: 2rem;
}

/*Header navigation*/
#header-nav {
    justify-content: center;
    background-color: firebrick;
}

#header-nav-container {
    justify-content: space-between;
    padding: .75rem 0rem;
}

#header-nav-container a:visited,
#header-nav-container a:link,
#header-nav-container a:active {
    color: inherit;
    text-decoration: none;
}

#nav-menu {
    display: none;
}

/*Products*/
#products {
    justify-content: center;
}

#products-container {
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    border: 4px solid black;
    overflow: hidden;
    margin-top: 3rem;
    width: 30%;
    height: auto;
}

.product img {
    height: 9rem;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin: 2rem auto;
    display: block;
}

.product-name {
    background-color: black;
    text-align: center;
    padding: .5rem 0rem;
    border: 4px solid black;
}

/*Company info*/
#company-info {
    margin-top: 3rem;
    margin-bottom: 4rem;
    justify-content: center;
}

#company-info-container {
    justify-content: space-between;
}

.info {
    width: 35%;
}

.info h3 {
    background-color: black;
    padding: 1rem 2rem;
}

.info p {
    color: black;
}

/*Footer*/
#copyright {
    background-color: black;
    height: 5rem;
    justify-content: center;
}

#copyright-container {
    justify-content: flex-start;
}

#copyright-container p {
    align-self: center;
}


/*Screens smaller than 1024px and portrait orientation*/
@media only screen and (max-width: 1024px) and (orientation: portrait) { 
    /*  Product  */
    .product {
        width: 47%;
    }
    
    /*  Hidding thermal glasses  */
    #thermal-glasses {
        display: none;
    }
    
    /*  Displaying 'Menu' instead of entire nav  */
    #header-nav-container {
        justify-content: center;
    }
    
    #nav-menu {
        display: block;
    }
    
    a:not(#nav-menu) {
        display: none;
    }
}

/*Screens smaller than 470px and portrait orientation*/
@media only screen and (max-width: 470px) {
    .flex-content {
        width: 100vw;
    }
    
    /*  Banner  */
    #banner {
        height: 15rem;
    }
    
    /*  Banner text  */
    #banner-textbox {
        margin-top: 10rem;
        padding: 1rem 0rem 1rem 2rem;
        width: 100%;
    }
    
    #banner-textbox h2 {
        font-size: .77rem;
    }
    
    #banner-textbox p span {
        display: inline;
        font-size: 1rem;
    }
    
    /*  Product  */
    #products-container {
        width: 90%;
    }
    
    .product {
        width: 100%;
    }
    
    /*  Hidding thermal glasses  */
    #cellular-watch {
        display: none;
    }
    
    /*  Company info  */
    #company-info-container {
        width: 90%;
        flex-direction: column;
    }

    .info {
        width: 100%;
        margin: .25rem 0rem;
    }
    
    /*  Footer  */
    #copyright-container {
        justify-content: center;
    }
}
