* {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  /*font-size: 100px;*/
  font-weight: bold;
  color: khaki;
  text-align: center;
  margin: auto;
}

h1 {
  font-size: 6rem;
  padding: 7rem 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.brushes h2 {
  background-color: mediumspringgreen;
}

.frames h2 {
  background-color: lightcoral;
}

.paints h2 {
  background-color: skyblue;
}

.bold {
  font-weight: bold;
}

.blue-text {
  color: blue;
}
