/*Universal*/
html {
    font-size: 18px;
    font-family: sans-serif;
}

body {
    background: url("../images/bulb-banner.jpeg") no-repeat;
    background-size: cover;
}

main {
    padding: 3rem;
}

sup {
    font-size: .4rem;
    float: left;
}

header {
    padding-top: 4rem;
}

/*Content on small screens*/
@media only screen and (max-width: 768px) {
    main {
        padding: .5rem;
    }

    .banner h1 {
        font-size: 500px;
    }
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: hsla(0, 0%, 40%, .98);
    font-family: Arial, sans-serif;
    padding: .4rem 2rem;
    border-radius: 1rem;
    margin: .2rem;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar li {
    display: flex;
    justify-content: center;
}

/*Styling icon in navbar*/
.navbar li i {
    font-size: 2rem;
}

/* Links inside the navbar */
.navbar a {
    color: hsla(0, 0%, 100%, .8);
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    color: hsl(0, 0%, 100%);
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 98%
}

/* Add some top padding to the pages content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the pages (position:fixed and top:0) */
.sticky + .content {
    padding-top: 4rem
}

#logo {
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 5px;
}

/*Banner*/
.banner h1 {
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-family: "Damion", cursive;
    font-size: 600%;
    font-weight: bold;
    text-align: center;
    color: hsla(0, 0%, 30%, .7);
}



