div {
    border: 1px solid black;
}

/*Header*/
#header {
    font-weight: bold;
    font-family: Verdana, sans-serif;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

h1 {
    font-size: 14px;
    color: MediumAquamarine;
    flex-shrink: 1;
    margin: auto 10px;
}

.nav-link {
    margin: auto 10px;
}

.nav-menu {
    display: inline-flex;
}

.header-left {
    display: flex;
    margin: 5px;
}

.line {
    
}

img {
    margin: auto;
    padding-left: 20px;
}

a:link,
a:visited {
    padding-bottom: 2px;
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
}

.header-right {
    margin-right: 15px;
}

/*Content */
#content {
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
}

p {
    font-family: Georgia, sans-serif;
    font-size: 17px;
    color: black;
}

/*Columns*/
.column {
    display: flex;
    flex-flow: column wrap; 
    justify-content: space-around;
}

.column.large {
    width: 630px;
    margin-right: 10px;
}

.column.medium {
    width: 300px;
    margin-right: 10px;
}

.column.small {
    width: 240px;
}

.bl-content {
    display: flex;
    justify-content: space-between;
}

.bl-column {
    margin-right: 10px;
}

/*Background images*/
.background-img {
    display: block;
    margin-top: 15px;
    height: 300px;
    background-size: cover;
    text-align: center;
}

.background-img>p{
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.feeling-funny {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png); 
}

.feeling-funny>p {
    font-size: 40px;
}

.fall-season {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

.cats {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

.cameramen {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

.cookie {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-news-bite.png);
    background-repeat: no-repeat;
}

.cookie p {
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
}

.news {
    font-size: 16px;
    font-weight: bold;
}

.news-bites {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
}

h3 {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
