body {
  font-family: Verdana;
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: white;
}

/*For custom h1 on the page*/
h1.different-size {
  font-weight: 300;
  font-size: 42px;
}

p {
  color: Gray;
  font-size: 21px;
}


.discover-link a {
  color: Aquamarine;
  font-size: 16px;
}

/*Copyrights*/
footer {
  text-align: right;
 color: Gray;
}
