.screen-size {
    width: 100vw;
    display: flex;
}

.site-container-size {
    width: 90%;
    max-width: 960px;
    display: flex;
}

html {
    font-size: 18px;
    font-family: Helvetica;
    line-height: 1.4;
}

/*Header*/
#banner {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    align-items: center;
}

#header-bar-container {
    background-color: cadetblue;
    color: white;
    margin-top: 1rem;
    padding: 1rem 0rem; 
    justify-content: space-between;
    align-items: center;
}

#header-logo-title {
    display: flex;
    align-items: center;
}

#header-logo img {
    margin-left: 2rem;
    height: 1.5rem;
}

#header-title {
    font-size: 1rem;
    margin-left: 1rem
}

/*Header navigation*/
#header-nav a:link,
#header-nav a:active,
#header-nav a:visited {
    color: inherit;
    text-decoration: none;
    padding-right: 2rem;
}

#header-menu {
    display: none;
}

/*Header banner text*/
#headder-banner-text-offset {
    margin-left: 2rem;
    justify-content: flex-end;
}

#header-banner-text {
    background-color: white;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    padding: 1.5rem 5rem; 
    margin-top: 10rem;
}

/*Services section*/
main {
    justify-content: center;
}

#main-content-container {
    flex-direction: column;
    align-items: center;
}

#services {
    display: flex;
}

.service {
    width: 5rem;
    height: 8rem;
    margin: 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.service p {
    align-self: center;
    text-align: center;
}

.service img {
    align-self: center;
}

#fitting img {
    width: 5rem;
}

#exam img {
    width: 3.5rem;
}

#delivery img{
    width: 5rem;
}

/*Information section*/
#info {
    justify-content: center;
    width: 100%;
    margin-bottom: 5rem;
}

#info article {
    width: 35%;
}

#philosophy {
    margin-right: 2.5rem;
}

#appointments {
    margin-left: 2.5rem;
}


#info article h2 {
    background-color: cadetblue;
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    width: 10rem;
}

#info article p { 
    margin-top: 1rem;
}

/*Footer*/
footer {
    justify-content: center;
}

#footer-content-container {
    background-color: azure;
    padding: 4rem 0rem;
}

#footer-logo {
    margin-left: 4rem;
}
#footer-logo img {
    height: 1.5rem;
}

#footer-text {
    margin-left: 1rem;
}

/*Media related styling*/
@media only screen and (max-width: 1024px) {
    .site-container-size {
        width: 100%;
    }
    
    /*Header*/
    #banner {
        height: 22rem;
        background-position: 20%;
    }
    
    #header-bar-container {
        margin-top: 0rem;
    }
    
    #headder-banner-text-offset {
        margin-left: 0rem;
        padding-right: 2rem;
    }

    #header-banner-text {
        font-size: 1.33rem;
        padding: .75rem 4rem; 
        margin-top: 10rem;
    }
}

@media only screen and (max-width: 470px) {  
    /*Header*/
    #header-title {
        display: none;
    }
    
    #header-nav a:not(#header-menu) {
        display: none;
    }
    
    #header-menu {
        display: block;
    }
    
    #banner {
        height: 17rem;
        background-position: 20%;
    }
    
    #headder-banner-text-offset {
        margin-left: 0rem;
        padding-right: 0rem;
    }

    #header-banner-text {
        font-size: 1.33rem;
        padding: 1rem 0rem; 
        margin-top: 9rem;
        width: 100%;
        text-align: center;   
    }
    
    /*Services section*/
    #services {
        flex-direction: column;
        margin: 3.77rem 0rem;
    }

    .service {
        width: 5rem;
        height: 8rem;
        margin-top: 1.45rem;
    }
    
    .service p {
        font-size: .77rem;
        padding: 0rem;
    }
    
    /*Information section*/
    #info {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 5rem;
    }

    #info article {
        width: 100%;
    }

    #philosophy {
        margin-right: 0rem;
        margin-bottom: 4rem;
    }

    #appointments {
        margin-left: 0rem;
    }
    
    #info article {
        width: 100%;
    }

    #info article h2 {
        width: 100%;
        text-align: center;
    }

    #info article p {
        font-size: .77rem;
    }

    /*Footer*/
/*
    footer {
        justify-content: center;
    }
*/

    #footer-content-container {
        justify-content: center;
        width: 100%;
    }

    #footer-logo {
        margin-left: 0rem;
    }

    #footer-text {
/*        margin-left: 1rem;*/
        display: none;
    }
}